<div class="container my-4">
  <div class="todo-logo text-center"><i class="fas fa-tools"></i></div>
  <form #todoForm="ngForm" class="mt-4">
    <div class="form-group">
      <input type="text" name="title" [(ngModel)]="Todo.title" placeholder="Add title for your todo" class="form-control" />
    </div>
    <div class="form-group">
      <input type="time" name="time" [(ngModel)]="Todo.time" placeholder="Add Time for your todo" class="form-control" />
    </div>
    <div class="form-group">
      <select name="relatedTo" class="form-control" [(ngModel)]="Todo.relatedTo">
        <option selected>Your todo is related to</option>
        <option *ngFor="let option of options">{{option}}</option>
      </select>
    </div>
  </form>
</div>

<button type="button" class="add-todo-button" (click)="addTodoToService()"><i class="fas fa-plus"></i></button>
