.todo-logo{
    font-size:50px;
    margin:5px 0px;
}

.add-todo-button{
    height:50px;
    width:50px;
    border-radius:50%;
    background:#48dbfb;
    border:none;
    outline:none;
    color:white;
    box-shadow:2px 2px 2px rgba(0, 0, 0, 0.4);
    position:absolute;
    bottom:-16vw;
    left:80%;
    font-size:20px;
    z-index:1;
}