<div class="row">
  <div class="col-12 home-header">
    <ul>
      <li><a routerLink="home" routerLinkActive="link-active">Index</a></li>
      <li><a routerLink="completed" routerLinkActive="link-active">Completed</a></li>
      <li><a routerLink="add" routerLinkActive="link-active">Add Todo</a></li>
    </ul>
  </div>
  <div class="col-12 home-todo">
    <router-outlet></router-outlet>
  </div>
  <div class="col-12 home-footer">
    <div>Completed <span class="badge badge-info">{{count}}</span></div>
  </div>
</div>
