.todo-icon{
    text-align:center;
    padding:10px 0px;
}
.todo-icon i{
    font-size:35px;
    color:#48dbfb;
}
.todo-title h2:hover{
    cursor:pointer;
    text-decoration:line-through;
}

.delete-todo button{
    height:50px;
    border:none;
    outline:none;
    background:transparent;
}